:root {
  --secondary-color: #101114;
  --primary-bg: #1c212a;
  --text-light: #ffffff;
  --text-dark: #333333;
  --light-bg: #f8f9fa;
  --gray-bg: #e9ecef;
  --accent-blue: #0d6efd;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    90deg,
    #161b23,
    var(--primary-bg),
    var(--primary-bg)
  );
}
.navbar {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.col-md-6 .fs-3 {
  background-image: linear-gradient(to right, #0d6efd, #5e659b);
  background-clip: text;
  color: transparent;
}
.second-img-and-icon-container {
  display: none;
}
.home-image:hover {
  transform: translateY(-20%);
  transition: all 0.3s ease-in-out;
}
.skill-paragrapgh {
  opacity: 1;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 400px;
}
.skills-img {
  transform: translateY(20px);
  transform: rotate(30deg);
}
.contact-paragraph {
  opacity: 1;
  color: rgb(152 152 152);
  width: 100%;
  max-width: 400px;
  margin: auto;
}
footer {
  width: 100%;
  font-size: 14px;
}
